
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <!-- 包含公共的JSP代码片段 -->
	
<title>无线点餐平台</title>



<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/page_common.js"></script>
	<script type="text/javascript">
		$(function (){
			//在当前页面dom对象加载后，执行loadcuisineData()；
			loadcuisineData();
		})

		function loadcuisineData(){
			$.ajax({
				url:"cuisinenameLoad",
				type:"get",
				dataType:"json",
				success:function(data){
					// alert(data);
					//清除旧的数据
					$("#info").html("");
					//循环处理
					$.each(data,function (i,n) {
						$("#cnLoad").append("<option value=\""+n.cuisinename+"\">"+n.cuisinename+"</option>")

					})
				}
			})

		}
	</script>
<link href="style/css/common_style_blue.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="style/css/index_1.css" />
</head>
<body>

<!-- 页面标题 -->
<div id="TitleArea">
	<div id="TitleArea_Head"></div>
	<div id="TitleArea_Title">
		<div id="TitleArea_Title_Content">
			
				
				
					<img border="0" width="13" height="13" src="style/images/title_arrow.gif"/> 添加新菜品
				
			
		</div>
    </div>
	<div id="TitleArea_End"></div>
</div>

<!-- 主内容区域（数据列表或表单显示） -->
<div id="MainArea">
	<!-- 表单内容 -->
	<form action="insertFood" method="post" enctype="multipart/form-data">
		<!-- 本段标题（分段标题） -->
		<div class="ItemBlock_Title">
        	<img width="4" height="7" border="0" src="style/images/item_point.gif"> 菜品信息&nbsp;
        </div>
		<!-- 本段表单字段 -->
        <div class="ItemBlockBorder">
            <div class="ItemBlock">
				<div class="ItemBlock2">
					<table cellpadding="0" cellspacing="0" class="mainForm">
                    <tr>
							<td width="80px">菜系</td>
							<td>
                            <select id="cnLoad" name="cuisinename" style="width:80px">
	                            

                            </select>
                             *
						</tr>
						<tr>
							<td width="80px">菜编号</td>
							<td><input type="text" name="id" class="InputStyle" th:value="${updateId}"/> *</td>
						</tr>
						<tr>
							<td width="80px">菜名</td>
							<td><input type="text" name="foodname" class="InputStyle" th:value="${updateFoodname}"/> *</td>
						</tr>
						<tr>
							<td>价格</td>
							<td><input type="text" name="price" class="InputStyle" th:value="${updatePrice}"/> *</td>
						</tr>
                        <tr>
							<td>会员价格</td>
							<td><input type="text" name="memberprice" class="InputStyle" th:value="${updateMemberprice}"/> *</td>
						</tr>
						
						<tr>
							<td>简介</td>
							<td><textarea name="introduce"   class="TextareaStyle">[[${updateIntroduce}]]</textarea></td>
						</tr>
						
					</table>
				</div>
            </div>
        </div>
		
		
		<!-- 表单操作 -->
		<div id="InputDetailBar">
            
				
				
					 <input type="submit" value="添加并返回" class="FunctionButtonInput">
				
			
            
            <!--<a href="javascript:history.go(-1);" class="FunctionButton">返回</a>-->
        </div>
	</form>
</div>
</body>
</html>
